.Conditions {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 44px;
  margin: 20px;
  background-color: aliceblue;
}
.List {
  display: table;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
}
