.Conditions {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 36px;
  margin: 30px auto;
  max-width: 750px;
  background-color: aliceblue;
  font-family: Roboto, arial, sans-serif;
  line-height: 28px;
  font-weight: 100;
}
.Weather {
  font-family: Roboto, arial, sans-serif;
  line-height: 28px;
  font-weight: 100;
}
.List {
  display: table;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
}
.Weather form {
  padding: 100px;
}

.App footer {
  text-align: center;
}
